.route-time-line{
    font-family: Arial, Helvetica, sans-serif;////CHANGE!!!!
    .line{
        border-left: 2px solid $clr12;
        opacity: 0.5;
        height: 50px;
        margin-inline-start: 40px;//may change
    }
    .index-ball{
        height: 40px;
        width: 40px;
        border-radius: 50%;
        margin-right: 20px;
        
    }
    .visi-none{
        visibility: hidden;
    }

    .time-line-area{
        .time-line-icons{
            height: 100%;
            margin-right: 5px;
        }
        
    }
    .route-time-line-context{
        min-width: 260px;
       
        div:nth-child(2){
            font-style: italic;
            margin-right: 10px;
        }
        div:nth-child(3){
            overflow-x: visible;
            font-weight: bold;
        }
    }
    .add-destination-button{
        font-size: 2.4rem;
        margin-top: 30px;
        margin-inline-start: 80px;
    }
    // @for $i from 0 through 8 {
    //     .route-time-line-context:nth-child(#{$i})>.index-ball {
    //         background-color:  adjust-hue($clr1, $i*5deg )
    //     }
    // }
    
}