.route-calendar{
    border-collapse: collapse;
    text-align: center;
    font-size: 0.8rem;
    width: 100%;
    margin-bottom: 10px;
   .table-header{
    //    background-color: $clr5;
      
   }
   tr{
    //    border:0.1px solid rgba(128, 128, 128, 0.5)  ;
   }
    td,th{
        padding: 10px 5px;
        // border-right:0.1px solid rgba(128, 128, 128, 0.5) ;
        overflow-x: hidden;
        color: #2c2c2c;
    }

    td{
        position:relative;
        cursor: pointer;
       
        &:hover .full {
            // height: 13%;
            
            
        }
        &:hover .start {
            // height: 13%;
            
            
        }
        &:hover .end {
            // height: 13%;
            
            
        }
        
        
    }
    .start, .full, .end{
        position: absolute;
        height: 10%;
        bottom: 0;
        position: absolute;
        z-index: -1;
        transition: height .2s;
        

        
    }
    .start{
        right: 0;
        // border-top-left-radius: 50%;
        // border-bottom-left-radius: 50%;
        width: 45%;
        &:hover {
            height: 17%;
        }
    }
    .full{
        width: 100%;
        left: 0;
        height: 10%;
        &:hover {
            height: 17% !important;
        }
    }
    .end{
        left: 0;
        // border-top-right-radius:50% ;
        // border-bottom-right-radius: 50%;
        width: 45%;
        &:hover {
            height: 17%;
        }
    }
    .faded{
        opacity: 0.5;
        cursor: default;
    }
   
   
}