
.route-time-line{
    font-family: Arial, Helvetica, sans-serif;////CHANGE!!!!
  
    // min-height: 44vh;
    max-height: 44vh;
    overflow-y: auto;
    overflow-x: hidden;
  
    .line{
        border-left: 2px solid $clr12;
        opacity: 0.5;
        height: 35px;
        margin-inline-start: 19px;
    }
    .index-ball{
        color: rgb(240, 240, 240);
        height: 40px;
        width: 40px;
        border-radius: 50%;
        margin-right: 10px;
       
    }
    .visi-none{
        visibility: hidden;
    }

    .time-line-area{
        .time-line-icons{
            height: 100%;
            margin-right: 5px;
        }
        
    }
    .route-time-line-context{
       .time-line-text{
           p:nth-child(1){
               text-transform: capitalize;
               font-weight: bold;
               line-height: 1.5;
            }
            p:nth-child(2){
                // overflow-x: visible;
                font-size: 0.8rem;
                font-style: italic;
                letter-spacing: 0.8px;
            }
        }
    }
    // .add-destination-button{
    //     font-size: 1.8rem;
    //     margin-top: 30px;
    //     margin-inline-start: 80px;
    // }
    // @for $i from 0 through 8 {
    //     .route-time-line-context:nth-child(#{$i})>.index-ball {
    //         background-color:  adjust-hue($clr1, $i*5deg )
    //     }
    // }
    
}