.trip-route{
    ::-webkit-scrollbar {
        width: 12px;
    }
    ::-webkit-scrollbar-track {
        background-color: rgba(255, 255, 255, 0);
        border-radius: 10px;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: $clr6;
        }
    margin-top: 80px;
    height: 100%;
    position: relative;

    .trip-bar-icons{
        width: 100%;
        font-size: 1.2rem;
        // padding: 20px;
        flex-wrap: wrap;
        color: black;
        position: relative;
        >*{
            padding: 15px;
            display: flex;
            justify-content: center;
            width: 50%;
        }
        .fa-trash{
            transition: all 0.5s   ;
        }
        .trash-open{
            color: red;
            transform: rotate(-30deg);
        }
    }
    
    .add-destination{
        justify-content: flex-start;
        position: absolute;
        width: 100%;
        top: 49px;
        height: 0px;
        visibility: hidden;
        z-index: -11;
        transition: height 0.5s 0.2s;
        border-radius: 2px;
        padding: 0;
        >div{
            text-align: center;
            padding: 15px;
        }
        form{
            background-color: whitesmoke;
            padding: 0px;
            height: 0;
            transition: height 0.3 s,padding 0.3s;
        }
        input{
            background-color: whitesmoke;
            border: none;
            outline: none;
            margin-bottom: 20px;
            opacity: 0;
            transition: opacity 0.2s 0.2s;
            &::placeholder{
                opacity:0
            }
        }
        button{
            width: 100%;
            opacity: 0;
            transition: opacity 0.2s 0.3s;
        }
        .add-destination-footer{
            height: 20px;
            background-color: $clr1;
        }
        &.form-open{
            visibility: visible;
            z-index: 1;
            height: 30vh;
            form{
                padding: 15px;
                height: 100%;

            }
            input{
                opacity: 1;
                &::placeholder{
                    opacity:1
                }
            }
            button{
                opacity:1
            }
        }
    }
    

    
    
    >*{
        // width:50%;
        // margin-bottom: 50px;
    }
}