@keyframes spin-right {
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
   
  }
  
  @keyframes flying {
   
  
   0% {
     font-size: 60px;
   }
  
   15% {
     font-size: 63px;
   }
  
   25% {
     font-size: 70px;
   }
  
   75% {
     font-size: 70px;
   }
  
   85% {
     font-size: 63px;
   }
   100% {
     font-size: 60px;
   }
  }
  .positioning-container {
    background-color: white;
    // position: absolute;
    z-index: 10000;
    height: 100vh;
    width: 100%;
    text-align: center;
    // right: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .spinning-container{
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 50%;
    animation: spin-right 4s ease-in-out infinite;
    padding: 25px;

    span{
      top: 55px;
      position: absolute;
      left: 57px;
      z-index: 1;
      font-size: 0.6rem;
    }
  
    
  }
  .airplane-container{
    .plane{
        width: 100px;
        transform: rotate(90deg);
        margin: 0;
        color: #00ACE4;
        animation: flying 4s linear infinite;
    }
  }

  
