.main-navbar {
    padding: 20px 40px;
    width: 100%;
    position: fixed;
    color: white;
    z-index: 20;
    letter-spacing: rem(1.5px);
    mix-blend-mode: hard-light;
    background: linear-gradient(180deg, #4a4949, #595959, #5b5a5a, transparent);
    transition: all 0.7s ease;

    .user-preview {
        height: 28px;
        width: 29px;
        border: 2px solid;
        border-radius: 100px;
        mix-blend-mode: unset;
        background: none;
    }

    .logo {
        font-family: kaushan;
        margin: 0;
    }
    > div > div {
        position: relative;
    }
    .user-preview-expand {
        position: absolute;
        top: 52px;
        right: -73px;
        width: 140px;
        height: 0;
        overflow: hidden;
        transition: height 0.3s;
        &.open {
            height: 50px;
            padding: 0;
        }

        .logout {
            width: 100px;
            box-shadow: none;
        }
        @include for-mobile-layout {
            &.open {
                top: 66px;
                right: 82px;
                width: 129px;
            }

            .logout {
                width: 78px;
                text-align-last: center;
            }
        }
    }
    .mobile-hamburger {
        display: none;
        @include for-mobile-layout {
            display: block;
            outline: none;
            color: #ffffff;
            z-index: 5;
            font-size: 1.8rem;
            border: none;
            background-color: transparent;
        }
    }
}

.main-navbar-links {
    font-size: 1rem;
    text-transform: uppercase;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-end;
    > * {
        padding: 0;
        margin-right: 20px;
    }
    img {
        background-blend-mode: unset;
    }
}

.navBar-background {
    padding: 5px 40px;
    mix-blend-mode: inherit;
    background: #222222;
    display: flex !important;
    transition: all 0.3s ease;
}

.navbar-screen {
    @include for-mobile-layout {
        &.screen-open {
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.3);
            z-index: 15;
            position: fixed;
            top: 0;
            right: 0;
        }
    }
}

.main-navbar-links {
    > * {
        padding: 10px 0;
        cursor: pointer;
    }

    @include for-mobile-layout {
        flex-direction: column;
        position: fixed;
        top: 0;
        background-color: #121212d9;
        right: 0;
        width: 230px;
        height: 100vh;
        padding: 70px 0;
        text-align-last: start;
        justify-content: end;
        transform: translateX(100%);
        transition: transform 0.3s;
        z-index: 3;

        &.mainbar-open {
            transform: translateX(0);
            box-shadow: -5px 3px 12px 3px #0000004f;
        }

        > * {
            padding: 30px;
            display: block;
            margin-right: 0;
            width: 100%;
            background-color: inherit;
            transition: background-color 0.2s;
        }
        > *:hover {
            background-color: rgb(5, 5, 5);
        }
    }
}

.share-trip {
    padding: 20px;
    h3 {
        margin: 0;
    }
    button {
        margin: 5px auto;
    }
    img {
        width: 270px;
        height: 230px;
        margin: 0 auto;
    }
}
