.members-preview{
    margin-bottom: 25px;
    i{
        font-size: 1rem;
        background-color: rgb(252, 250, 250);
        border-radius: 50%;
        box-shadow: 0 0 8px 0px #0000001b;
        padding: 10px;
        color: #94a3ff;
    }
    .member-preview{
    position: relative;
    max-width: 39px;
    max-height: 39px;
    margin-right: 10px;
    .image-preview{
        height: 100%;
        width: 100%;
        border-radius: 50%;
        object-fit: cover;
    }
    .is-active-circle{
        width: 25%;
        height: 25%;
        background-color: green;
        border-radius: 50%;
        position: absolute;
        bottom: 0px;
        right: 0px;
        border: 1px solid black;
    }

}
}