.trip-filter {
    border: 1px solid #ccc5c57a;
    border-radius: 100px;
    width: fit-content;
    padding: 0 20px;
    margin: 0 auto 20px;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;

    input {
        outline: none;
        height: 33px;
        border-bottom: none;
    }
    img {
        width: 25px;
        height: 25px;
        margin: auto 10px;
        vertical-align: baseline;
    }
}
