.user-flow{
margin: 0 auto;
justify-content: space-evenly;
>div{
    max-width: 450px;
    margin-bottom: 30px;
    }
    img{
        width: 210px;
        height: 126px;
        object-fit: contain;
        }
        .flow-headline{
            font-size: rem(20px);
            color:#D826C7 ;
            padding-bottom: 15px;
            text-decoration: underline;
            text-underline-position: under;
            text-decoration-style: double;
        }
        .flow-content{
            color: rgb(82, 82, 82);
        }

        >div:nth-child(2)>img{
            margin-right: 45px;
        }
}