.assembly-container {
    color: #454545;
    padding: 70px;
    margin-top: 200px;

    .destinations-header-wraper {
        margin-top: 60px;
        position: relative;
        .toggle-page {
            border-radius: 50%;
            position: absolute;
            cursor: pointer;
            color: #cccccc;
            &:hover {
                color: #ec97fd;
            }
        }
    }

    .next {
        top: 0;
        right: -30px;
    }
    .prev {
        top: 0;
        left: -30px;
    }

    .editActivity {
        position: fixed;
        width: 100px;
        bottom: 20px;
        right: 20px;
    }
}

.trip-assembly-main {
    max-width: 85vw;
    position: relative;
    margin: 0 auto;
    display: grid;

    grid-template-columns: repeat(7, minmax(70px, 1fr));

    .time-line-assembly {
        position: absolute;
        font-size: smaller;
        left: -44.9px;
        top: 23px;
        display: grid;
        grid-template-rows: repeat(35, 30px);
        z-index: 3;

        .time-assembly {
            vertical-align: bottom;
            color: #bebebe;

            position: relative;
            span {
                position: absolute;
                // bottom: -16%;
            }
        }
    }

    .day-list-assembly {
        display: grid;
        grid-template-rows: repeat(35, 30px);

        > * {
            text-align: center;
            position: relative;
            flex-direction: column;
            border: 1px solid #cdcdcd2e;
            justify-content: center;
            p {
                margin: 0;
                padding: 0;
            }

            .activity-time {
                position: absolute;
                left: -33%;
                top: -10px;
            }
        }
        .activity-assembly {
            box-shadow: 0px 0px 11px 1px #00000024;
            transition: all 0.4s;
            border-radius: 0 0 20px 0;
            height: 96%;
            width: 80%;
            margin: 3px 13px;
            overflow: hidden;
            border: none;
            .dest-color {
                width: 100%;
                height: 5px;
            }

            h5 {
                font-size: 12.9px;
                color: #797879;
                margin: 0;
            }

            .activity-name-container {
                height: 70%;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .activity-assembly-details {
                display: none;
            }

            p {
                color: #555456;
                margin-bottom: 0.5rem;
                overflow-y: hidden;
                transition: 0.2s;
            }

            &.is-drag {
                opacity: 0.6;
            }

            &.len-one {
                z-index: 2;
            }

            &:hover {
                box-shadow: 0 0 6px 1px #00000047;
                transition: all 0.3s;
                transition-timing-function: jump-both;
                transform-origin: center;
                // width: 200px;
                background: #e9f4ff;
                top: 0;
                translate: -50px;
                // transform: scale3d(1.5, 1.5, 1.5);
                z-index: 5;

                .activity-assembly-details {
                    font-size: smaller;
                    display: flex;
                }
            }

            &:active {
                cursor: grabbing;
            }
        }
        .literal-day {
            font-size: 0.9rem;
            z-index: -1;
            line-height: 28px;
            background-color: #ececec7d;
            cursor: initial;
            box-shadow: 0px 0px 0.4px 0px #61021e;
        }

        .empty-assembly {
            &.is-over {
                box-shadow: 0px 0px 4px #0070f3;
                // background-color: #ffaeaeb0
            }
        }
    }
}

.destinations-header {
    font-size: 1rem;
    margin: 0 auto;
    max-width: 85vw;
    line-height: 35px;
    box-shadow: 0px 6px 7px 0px #4c4c4c36;

    // height: 1.6rem;
    display: grid;
    text-align: center;
    grid-template-columns: repeat(14, minmax(25px, 1fr));
    grid-template-rows: repeat(1, 35px);
    vertical-align: baseline;

    > * {
        box-shadow: 0px 0px 0.6px 0px #61021e;
        // position: relative;
    }

    .dest-name-preview {
        text-transform: capitalize;
        letter-spacing: 0.7px;
    }
}

.activity-prev-assembly {
    position: relative;
    * {
        border-radius: none !important;
    }
    .activity-assembly-controls {
        position: absolute;
        background-color: #e7f0ff;
        bottom: 0;
        border: 1px 0;
        width: 100%;
        height: 22px;
        > * {
            border: none;
            color: #3e3e3e;
        }
        * {
            outline: none;
            opacity: 0.4;
            display: inline-block;
            flex: 1;
            font-size: small;
            font-weight: bold;
            &:hover i {
                color: black;
                opacity: 1;
            }
        }
    }
}

.edit-activity-form {
    color: #515151;
    padding: 8px 33px;
    i {
        margin-right: 5px;
    }

    label {
        font-size: 0.9rem;
        color: #9c9797;
    }
    select {
        padding: 5px 20px;
        border: none;
        border-color: rebeccapurple;
        outline: none;
        border-bottom: 1px solid #d2d2d2;

        &:required:invalid {
            color: gray;
        }
    }
    option[value=""][disabled] {
        display: none;
    }
    option {
        margin: 10px;
        color: rgb(65, 65, 65);
        background-color: rgb(233, 233, 233);
    }
    align-items: center;
    > * {
        margin-bottom: 20px;
        margin-top: 0px;
    }
    > div {
        align-items: baseline;
        @include for-mobile-layout{
            flex-direction:column ;
        }
        label {
            text-align-last: left;
        }
    }
    textarea {
        width: 70%;
        min-height: 100px;
        border: none;
    }
    input,
    textarea,
    select {
        color: #9c9797;
        box-shadow: 0px 7px 7px 2px #8888880d;
        border-bottom: none;
        font-family: NotoSans;
        @include for-mobile-layout{
           margin:10px;
        }
    }
}

.full-assembly {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 26px;
}

.preview-activity-form {
    max-width: 100%;
    text-align-last: left;
    padding: 0 20px 20px;
    color: #3c3c3c;
    margin-right: 10px;
    ::-webkit-scrollbar {
        width: 10px;
    }
    ::-webkit-scrollbar-track {
        background-color: rgba(255, 255, 255, 0);
        border-radius: 10px;
        margin-right: 10px;
        background-clip: padding-box;
    }
    ::-webkit-scrollbar-thumb {
        background: linear-gradient(90deg, rgb(94, 38, 94), rgb(243, 156, 239), rgb(255, 255, 255));
        border-radius: 10px;
        background: $clr6;
        border: 20px solid transparent;
    }

    h2 {
        &:empty:before {
            content: attr(data-placeholder);
            color: gray;
            font-weight: normal;
            font-size: medium;
        }
    }

    > div {
        align-items: baseline;
        width: 100%;
    }

    img {
        max-width: 100%;
        height: 300px;
        border-radius: 6px;
        margin: 0 0 15px;
        object-fit: cover;
    }
    h2,
    h4 {
        margin: 0;
    }

    small {
        margin-right: 15px;
    }
    h4 {
        display: inline-block;
        margin-right: 10px;
        
    
    }
    input {
        border: none;
        padding: 0;
        height: fit-content;
    }
    p {
        margin-right: 5px;
        width: fit-content;
        display: inline-block;
    }
    button {
        margin: 0 auto;
        display: block;
        text-align-last: center;
    }
    i {
        margin-right: 5px;
    }
    .fa-edit {
        cursor: pointer;
    }
    > * {
        margin-bottom: 20px;
    }

    .time-container {
        height: 0;
        overflow: hidden;
        justify-content: space-around;
        transition-timing-function: ease-in-out;
        transition: all 0.4s;
        margin: 0;
        @include for-mobile-layout{
            flex-direction:column ;
        }
     

        &.openHeight {
            height: 60px;
            @include for-mobile-layout{
               height: 116px;;
            }
        }
    }
    textarea {
        min-height: 70px;
        background-color: #f0f0f0;
        border: none;
    }
}

.prev-date-picker {
    display: block;
}
.dest-head-0 {
    border-bottom: 3px solid #ff78fc;
    //  @include shadow($clr1)
}
.dest-head-1 {
    border-bottom: 3px solid #dc82fb;
    // background-color: adjust-hue($color: #f3cbef, $degrees: 20deg)
    // @include shadow($clr2)
}
.dest-head-2 {
    border-bottom: 3px solid #aa67e0;
    // background-color: adjust-hue($color: #D826C7, $degrees: 40deg)
    // @include shadow($clr3)
}
.dest-head-3 {
    border-bottom: 3px solid #94a3ff;
    // background-color: $clr4;
    // @include shadow($clr4)
}
.dest-head-4 {
    border-bottom: 3px solid #4e90ff;
    // background-color: $clr5;
    // @include shadow($clr5)
}
.dest-head-5 {
    border-bottom: 3px solid #1354d8;
    // background-color: $clr6;
    // @include shadow($clr6)
}
@media only screen and (max-width: 650px) {
    .trip-assembly-main {
        grid-template-columns: repeat(3, minmax(70px, 1fr));
    }

    .destinations-header {
        grid-template-columns: repeat(6, minmax(25px, 1fr));
    }
}
