.assembly-container {
    color: #454545;
    padding: 70px;
    margin-top: 200px;
    .paging-assembly {
        display: flex;
        width: 15%;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;

        .toggle-page {
            background-color: #d8bbff;
            padding: 10px 15px 10px;
            margin: 5px;
            border-radius: 50%;
            cursor: pointer;

            &:hover {
                background-color: #cda8ff;
            }
        }
    }
    .editActivity {
        position: fixed;
        width: 100px;
        bottom: 20px;
        right: 20px;
    }
}

.trip-assembly-main {
    max-width: 85vw;
    position: relative;
    margin: 0 auto;
    display: grid;
    // overflow-y: scroll;

    grid-template-columns: repeat(7, minmax(70px, 1fr));
    // grid-template-rows: repeat(35);

    .time-line-assembly {
        position: absolute;
        font-size: smaller;
        left: -44.9px;
        top: 23px;
        display: grid;
        grid-template-rows: repeat(35, 30px);
        z-index: 3;

        .time-assembly {
            vertical-align: bottom;
            // bottom: -8%;
            position: relative;
            span {
                position: absolute;
                // bottom: -16%;
            }
        }
    }

    .day-list-assembly {
        display: grid;
        background-color: #d0d1ff52;
        
        grid-template-rows: repeat(35, 30px);

        > * {
            text-align: center;
            position: relative;
            flex-direction: column;
            // box-shadow: -0.08px -0.08px 0 0px black;
            border: 1px solid #cdcdcd2e;
            justify-content: center;
            p {
                margin: 0;
                padding: 0;
            }

            .activity-time {
                position: absolute;
                left: -33%;
                top: -10px;
            }
        }
        .activity-assembly {
            background-color: #dfcbf6;
            box-shadow: 0px 0px 0px 1px #a2a2a275;
            transition: all 0.4s;
            height: 100%;
            cursor: grab;
            overflow: hidden;
            border: none;
            .dest-color {
                width: 100%;
                height: 5px;
            }

            h5 {
                font-size: smaller;
                color: #716f72;
                margin: 0;
                padding-top: 5px;
            }

            .activity-name-container {
                height: 70%;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .activity-assembly-details {
                display: none;
            }

            p {
                color: #555456;
                margin-bottom: 0.5rem;
                overflow-y: hidden;
                transition: 0.2s;
            }

            &.is-drag {
                opacity: 0.6;
            }

            &.len-one {
                z-index: 2;
            }

            &:hover {
                box-shadow: 0 0 6px 1px #00000047;
                transition: all 0.3s;
                transition-timing-function: jump-both;
                transform-origin: center;
                // width: 200px;
                background: #d1e2f4;
                top: 0;
                translate: -50px;
                // transform: scale3d(1.5, 1.5, 1.5);
                z-index: 5;

                .activity-assembly-details {
                    font-size: smaller;
                    display: flex;
                }
            }

            &:active {
                cursor: grabbing;
            }
        }
        .literal-day {
            font-size: 1rem;
            line-height: 35px;
            background-color: rgba(255, 250, 241, 0.342);
            cursor: initial;
            box-shadow: 0px 0px 0.4px 0px #61021e;
        }

        .empty-assembly {
            &.is-over {
                box-shadow: 0px 0px 4px #0070f3;
                // background-color: #ffaeaeb0
            }
        }
    }
}

.destinations-header {
    font-size: 1rem;
    margin: 0 auto;
    max-width: 85vw;
    line-height: 35px;
    // background-color: #61aff86b;
    // box-shadow: -0.05px -0.05px 0 0px black;

    // height: 1.6rem;
    display: grid;
    text-align: center;
    grid-template-columns: repeat(14, minmax(25px, 1fr));
    grid-template-rows: repeat(1, 35px);
    vertical-align: baseline;

    > * {
        box-shadow: 0px 0px 0.6px 0px #61021e;
        // position: relative;
    }

    .dest-name-preview {
        text-transform: capitalize;
        font-weight: bold;
        letter-spacing: 0.7px;
    }
}

.activity-prev-assembly {
    position: relative;
    * {
        border-radius: none !important;
    }
    .activity-assembly-controls {
        position: absolute;
        background-color: #e7f0ff;
        bottom: 0;
        border: 1px 0;
        width: 100%;
        height: 22px;
        > * {
            border: none;
            color: rgb(143, 143, 143);
        }
        * {
            outline: none;
            opacity: 0.4;
            display: inline-block;
            flex: 1;
            font-size: small;
            font-weight: bold;
            &:hover i {
                color: black;
                opacity: 1;
            }
        }
    }
}

.edit-activity-form {
    select {
        border: none;
        outline: none;
        border-bottom: 1px solid #d2d2d2;
        &:required:invalid {
            color: gray;
        }
    }
    option[value=""][disabled] {
        display: none;
    }
    option {
        color: black;
    }
    align-items: center;
    > * {
        min-width: 50%;
        margin-bottom: 0.85rem;
        margin-top: 0px;
    }
}

.preview-activity-form {
    max-width: 100%;
    text-align-last: left;
    padding: 0 20px 20px;
    
    >div{
        align-items: baseline;
        width: 100%;
        div{
            width: 50%;
        }
    }

    img{
        max-width: 100%;
        height: 300px;
        border-radius: 6px;
        margin: 0 0 15px;
        object-fit: cover;
    }
    h2,h4 {
        margin:0;
    }

    small{
        margin-right: 15px;
    }
    h4{
        display: inline-block;
        margin-right: 10px;
    }
    input{
        border: none;
        padding: 0 15px;
        height: fit-content;
    }
    p{
        margin-right: 5px;
        width: fit-content;
        display: inline-block;
    }
    button{
        margin: 0 auto;
        display: block;;
        text-align-last: center;
    }
    i{
        margin-right: 5px;
    }
    .fa-edit{
        cursor: pointer;

    }
    >*{
        margin-bottom: 20px;
    }

    .time-container{
        height: 0;
        overflow: hidden;
        transition-timing-function: ease-in-out;;
        transition: all 0.4s;
        margin: 0;

        &.openHeight{
            height: 60px ;
        }
    }
}

.prev-date-picker {
    display: block;
}

@media only screen and (max-width: 650px) {
    .trip-assembly-main {
        grid-template-columns: repeat(3, minmax(70px, 1fr));
    }

    .destinations-header {
       
        grid-template-columns: repeat(6, minmax(25px, 1fr));
    }
}