.home-page{
    h2{
        font-family: Dosis;
        font-size: 3rem;
        text-transform: uppercase;
        text-align: center;
         margin: 0 auto 30px;
         color:#D826C7
        };

    .flow-container{
        margin-bottom: 50px;
    }
         margin: 0 auto 30px
        
        };

        .to-trip-list{
            display: block;
            margin: 0 auto;
        }

.trips-pagination{
    cursor: pointer;
    // position: absolute;
   
    font-size: 2rem;
}
.trips-pagination-forward{
    right: 4%;
    top: 85%;
}

.trips-pagination-backward{
    left: 4%;
    top:  85%;

}


.home-page-hero{
    height: 718px;
    background: url(https://cdn.hipwallpaper.com/i/14/16/mQRH5A.jpg);
    object-fit: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: -214px;
    background-position-y: -69px;
    background-position: cente;
    margin-bottom: 30px;
}

.main-home-page{
    .flow-container{
        height: 80vh;
        a{
            margin: 0 auto;
            display: block
        }
    }
   .slideShow-area{
       padding-top: 50px;
       background-color: lighten(#D826C7, 48%);
       #top-rated-trips{
           height: 50px;
       }
       h2{
       }
   }
}

.slideShow{
    margin: 0 auto;
    height: 550px;
    // width: 100%;
    width: 90vw;
    right: 5%;
    top: 140px;
    margin-bottom:20px ;
}

.swiper-container {
    align-items: center;
    width: 100%;
      padding-top: 10px;
      padding-bottom: 50px;

}
.swiper-slide{
    width: 350px !important;
    margin: 0;
    background: transparent;
    background-position: center;
    background-size: cover;
    height: 450px;

}





.swiper-button-prev::after, .swiper-button-next::after{
    color: rgb(238, 239, 255);
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 100px;
}

.description-section{
    font-family: Patua;
    border-radius: 10px;
    position: absolute;
    width: 577px;
    padding: 0;
    line-height: 5.4rem;
    top: 253px;
    letter-spacing: 1.9px;
    margin: 0 30px;
    color: white;
    
    .styled-button{
        box-shadow: none;
        font-size: 1.2rem;
        margin: 0 auto;
        width: 220px;
        height: 50px;
        padding: 10px;
        transition: all 0.3s;
        position: relative;

         &:hover{
            &::after{
                padding: 10px 20px 10px 10px;
                position: absolute;
                // content: ' →';
                content: ' ▼';
                bottom: -7px;
                padding: 22px;

            }
            box-shadow: none;
            width: 253px;
            opacity: 1;
            padding-right: 40px;
         }
    }
    h3{
        font-weight: normal;
        margin: 0;
        font-size: 2.8125rem;
        text-shadow: 0px 1px #00000066;

    }
    p{
    font-size: rem(30px);
        font-style: normal;
        color: gray;
        padding-left: 110px;
    }
}