.home-page {
    h2 {
        font-family: Dosis;
        font-size: 3rem;
        text-transform: uppercase;
        text-align: center;
        margin: 0 auto 30px;
        color: #d826c7;
    }

    .flow-container {
        margin-bottom: 50px;
    }
    margin: 0 auto 30px;
    @include for-mobile-layout {
        h2 {
            font-size: 2rem;
        }
    }
}

.to-trip-list {
    display: block;
    margin: 0 auto;
}

.trips-pagination {
    cursor: pointer;
    // position: absolute;
}

.home-page-hero {
    height: 755px;
    background: url(https://res.cloudinary.com/idanrozen/image/upload/v1602410492/background_fo8ijs.jpg);
    object-fit: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 100px;

    @include for-mobile-layout {
        background-position-x: -140px;
        margin-bottom: 100px;
    }
}

.main-home-page {
    .flow-container {
        a {
            margin: 0 auto;
            display: block;
        }
    }
    .slideShow-area {
        padding: 30px 10px;
        background-color: lighten(#d826c7, 48%);
    }
    > * {
        margin-bottom: 50px;
    }
}

.slideShow {
    height: 550px;
    width: 90vw;
    right: 5%;
    top: 140px;
    margin-bottom: 20px;
}

.swiper-container {
    align-items: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 50px;
}
.swiper-slide {
    width: 350px !important;
    margin: 0;
    background: transparent;
    background-position: center;
    background-size: cover;
    height: 450px;
}
.swiper-pagination-bullet {
    background-color: #e48ae6;
    .swiper-pagination-bullet-active {
        background-color: #ca39cc !important;
    }
}

.swiper-button-prev::after,
.swiper-button-next::after {
    color: rgb(212, 7, 161);
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 100px;
}

.description-section {
    font-family: Patua;
    border-radius: 10px;
    position: absolute;
    max-width: 577px;
    padding: 0;
    line-height: 5.4rem;
    top: 220px;
    letter-spacing: 1.9px;
    margin: 0 30px;
    color: white;

    .styled-button {
        box-shadow: none;
        font-size: 1.2rem;
        margin: 0 auto;
        width: 220px;
        height: 50px;
        padding: 10px;
        transition: all 0.3s;
        position: relative;

        &:hover {
            &::after {
                padding: 10px 20px 10px 10px;
                position: absolute;
                content: "\2192";
                // content: ' ▼';
                bottom: -7px;
                padding: 22px;
            }
            box-shadow: none;
            width: 230px;
            opacity: 1;
            padding-right: 11px;
        }
    }
    h3 {
        font-weight: normal;
        margin: 0;
        font-size: 2.8125rem;
        text-shadow: 0px 1px #00000066;
    }
    p {
        font-size: rem(30px);
        font-style: normal;
        color: gray;
        padding-left: 110px;
    }
    @include for-mobile-layout {
        line-height: 3.7rem;
        top: 140px;
        h3 {
            font-size: rem(30px);
        }
    }
}
