* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    font-size: rem(18px);
    margin: 0;
    // font-family: Gayathri;
    font-family: NotoSans;
}

ul,
li,
p {
    margin: 0;
    padding: 0;
    list-style: none;
}

.ustyled-button {
    border: 0;
    background-color: transparent;
}

.styled-input {
    margin: 5px;
    outline: none;
    border: none;
    height: 40px;
    padding: 20px 5px 5px;
    border-bottom: 1px solid #dcd0d0;
    &:focus {
        box-shadow: none;
        outline: none;
        background-position: 0 0;
        &::-webkit-input-placeholder {
            color: rgb(128, 166, 236);
            font-size: 11px;
            transform: translateY(-20px);
            visibility: visible !important;
        }
    }
}

.styled-input::-webkit-input-placeholder {
    font-family: "roboto", sans-serif;
    transition: all 0.3s ease-in-out;
}

.error-msg {
    margin: 0;
    color: red;
    padding: 0;
    i{
        margin-right: 10px;
    }
}

.invalid-move {
    right: 30px;
    position: fixed;
    bottom: 30px;
    width: 200px;
    padding: 20px;
    border-radius: 5px;
    color: rgb(253, 51, 51);
    height: fit-content;
    box-shadow: 2px 2px 2px rgb(63, 63, 63);
    background-color: rgb(43, 43, 43);
    z-index: 300;
    box-shadow: 0 0 16px 5px #b1b1b15e;
    i{
        display: block;
        text-align: center;
        margin-bottom: 15px;
    }

}

.dest-0 {
    background-color: #ff78fc !important;
    //  @include shadow($clr1)
}
.dest-1 {
    background-color: #dc82fb;
    // background-color: adjust-hue($color: #f3cbef, $degrees: 20deg)
    // @include shadow($clr2)
}
.dest-2 {
    background-color: #aa67e0;
    // background-color: adjust-hue($color: #D826C7, $degrees: 40deg)
    // @include shadow($clr3)
}
.dest-3 {
    background-color: #94a3ff;
    // background-color: $clr4;
    // @include shadow($clr4)
}
.dest-4 {
    background-color: #4e90ff;
    // background-color: $clr5;
    // @include shadow($clr5)
}
.dest-5 {
    background-color: #1354d8;
    // background-color: $clr6;
    // @include shadow($clr6)
}
.dest-6 {
    background-color: #0939d8bf;
    // background-color: $clr7;
    @include shadow($clr7);
}
// inset 0px -1px 7px -4px #350053, inset 0px 4px 5px #edceff;
.styled-header {
    background-color: $clr5;
    box-shadow: inset 0px -1px 7px -4px darken($clr5, 68%), inset 0px 4px 5px lighten($clr5, 6%);
}
